- @title = " | Drinks"
- @subtitle = ""
- @body_class = "three"

- content_for :leftContent do
  .pageTitle
    %h1 Drinks

  .pageSection
    %h2 Scratch Cocktails
    .menuItem
      .name
        %h4 London's Culling
      .price
        %p 10
      .description
        %p Averna Amaro, Carpano Antica, Orgeat Lemon, sea salt 
    .menuItem
      .name
        %h4 The West Side
      .price
        %p 9
      .description
        %p Pimm's Cup No. 1, London dry gin, freshly squeezed lemon juice, soda
    .menuItem
      .name
        %h4 Jump-Start
      .price
        %p 9
      .description
        %p blood orange bitters, soaked sugar cube, bubbles, aperol, fresh rosemary
    .menuItem
      .name
        %h4 From the Fruit Orchard
      .price
        %p 10
      .description
        %p handmade vodka, local seasonal preserves ginger beer, Angostura bitters
    .menuItem
      .name
        %h4 Improved Rum Cocktail
      .price
        %p 10
      .description
        %p aged Rum, maraschino Liqueur, absinthe, orange bitters
    .menuItem
      .name
        %h4 Rosa
      .price
        %p 8
      .description
        %p 100% agave tequila, cherry heering, freshly squeezed lime juice
    .menuItem
      .name
        %h4 Cue Club
      .price
        %p 10
      .description
        %p Chilean pisco, St-Germain Liqueur, freshly squeezed grapefruit juice, peach bitters, egg white
    .menuItem
      .name
        %h4 Southside
      .price
        %p 8
      .description
        %p dry gin, fresh garden mint, freshly squeezed lemon juice, soda
    .menuItem
      .name
        %h4 Red Robin
      .price
        %p 9
      .description
        %p Kentucky straight bourbon, rhubarb amaro, vermouth di Torino (moscato), angostura bitters
    .menuItem
      .name
        %h4 Twentieth Century Cocktail
      .price
        %p 9
      .description
        %p London dry gin, freshly squeezed lemon juice, lillet, cr&egrave;me de cacao
         

  .pageSection
    %h2 Apertifs + Digestifs
    .menuGroup
      .groupName
        %h4 Whiskey
      .name
        %p Knob Creek Small Batch Bourbon, 9 yr
      .price
        %p 9
      .name
        %p Four Roses Kentucky Straight Bourbon
      .price
        %p 8
      .name
        %p Basil Hayden Kentucky Straight Bourbon
      .price
        %p 9
      .name
        %p Chivas Blended Scotch, 18 yr
      .price
        %p 15
      .name
        %p Macallan Single Malt, 12 yr
      .price
        %p 12
      .name
        %p Cardhu Single Malt, 12 yr
      .price
        %p 11
      .name
        %p Laphroaig Single Malt, 10 yr
      .price
        %p 9
      .name
        %p Dalwhinnie Single Malt, 15 yr
      .price
        %p 14





  
- content_for :leftFooter do
  %h1 Right Content

- content_for :rightContent do
  .pageSection
    .menuGroup
      .groupName
        %h4 Liqueur
      .name
        %p Vieux Carre Absinthe Superieure
      .price
        %p 10
      .name
        %p Pimm's Cup No. 1
      .price
        %p 8
      .name
        %p Pernod, Paris
      .price
        %p 8
      .name
        %p Drambuie Liqueu
      .price
        %p 8
      .name
        %p Sambuca Romana
      .price
        %p 8
      .name
        %p Cuarenta y Tres Liqueur
      .price
        %p 9
      .name
        %p Grappa Marolo Moscato
      .price
        %p 11
      .name
        %p Pierre Ferrand Cognac, Reserve
      .price
        %p 15
      .name
        %p Cle's des Ducs Armagnac Napolean
      .price
        %p 15
      .name
        %p Comte Louis de Lauriston Calvados
      .price
        %p 13
      .name
        %p Remy VSOP
      .price
        %p 14
    .menuGroup
      .groupName
        %h4 Tequila &amp; Mezcal
      .name
        %p Don Julio - Blanco, Reposado, A&ntilde;ejo
      .price
        %p 8, 10, 12
      .name
        %p Del Maguey Chichicapa, Mezcal
      .price
        %p 12
      .name
        %p Del Maguey Crema De Mezcal
      .price
        %p 8
    .menuGroup
      .groupName
        %h4 Rum
      .name
        %p Captain Morgan Private Stock
      .price
        %p 10
      .name
        %p Appleton Estate, 12 year
      .price
        %p 10
    .menuGroup
      .groupName
        %h4 Gin
      .name
        %p Tru Organic Gin
      .price
        %p 9
      .name
        %p Bombay Sapphire
      .price
        %p 11
      .name
        %p Tanqueray No. 10
      .price
        %p 11
      .name
        %p Hendrick's
      .price
        %p 10
    .menuGroup
      .groupName
        %h4 Vodka
      .name
        %p Mezzaluna, Italy
      .price
        %p 9
      .name
        %p Chopin, Poland
      .price
        %p 10
      .name
        %p Grey Goose, France
      .price
        %p 10
      .name
        %p Tito's, Texas
      .price
        %p 8


  .pageSection
    %h2 Other Things
    .menuGroup
      .groupName
        %h4 Zero Proof
      .name
        %p Ginger Brew
      .price
        %p 4
      .name
        %p Non-alcoholic Beer
      .price
        %p 4
      .name
        %p Freshly Squeezed Lemonade
      .price
        %p 3
      .name
        %p Freshly Squeezed Orange Juice
      .price
        %p 3
      .name
        %p San Pelligrino, 750mL
      .price
        %p 4
    .menuGroup
      .groupName
        %h4 Coffee &amp; Loose Leaf Tea
      .name
        %p Espresso
      .price
        %p 3
      .name
        %p Cappuccino
      .price
        %p 4
      .name
        %p Drip Coffee
      .price
        %p 2
      .name
        %p Loose Leaf Tea Selections
      .price
        %p 4
      .name
        %p.indent.opaque
          %i Almond, Mint, Organic Green, Earl Grey, English Breakfast, Chamomile Blossoms, India Spice, Ginger Peach
          



- content_for :rightFooter do
  %h1 Right Footer
